:root {
    --bs-body-font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input {
    border: none;
    outline: none;
}

.header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Yusei Magic', sans-serif;
    color: white;
}

.header,
footer {
    background-color: #0d6efd;
}

.header h1 {
    margin-bottom: 0;
}

.projectHeader,
.inboxHeader,
.doneHeader {
    font-size: 2rem;
}

.fa-list-ul {
    padding-right: 0.5rem;
}
.fa-angles-down {
    display: none;
    cursor: pointer;
}
.h1 {
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5rem;
}
#container {
    flex-grow: 1;
    display: flex;
    background-color: #e9ecef;
}
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 1.5rem;
    background-color: #ced4da;
    box-shadow: 1px 0 1px -1px rgba(0, 0, 0, 0.2);
}

.tabBtnsContainer {
    display: grid;
    gap: 1rem;
}

.sidebarProject {
    display: flex;
    flex-direction: column;
}
.btn {
    font-weight: 500;
}
.inboxBtn,
.deletedBtn,
.projectBtn {
    width: 200px;
    font-size: 1.2rem;
}
.projectBtn {
    margin-bottom: 0.8rem;
}

.projectUserInputContainerParent {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.projectUserInputContainerChild {
    margin-bottom: 5px;
}
.projectInput {
    width: 200px;
    padding-left: 7px;
    background-color: #e7f5ff;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-right: 5px;
}
.projectInput:focus-visible {
    outline: none;
    border: none;
    box-shadow: 0 0 2px rgb(24, 100, 171);
}

.projectInput:invalid {
    background-color: #fff;
}

.projectCross,
.projectTick {
    padding: 3px;
}

.tab {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: max(30rem, 40%);
    padding: 2rem;
}

.inbox {
    display: flex;
}
.toDoForm {
    margin-bottom: 1rem;
    gap: 0.5rem;
}
form {
    display: flex;
}
.input {
    flex-grow: 1;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding-left: 7px;
}
.input:focus-visible {
    outline: none;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.input:valid {
    background-color: #e7f5ff;
}
.submitBtn {
    padding: 0 1rem;
}

.list {
    display: flex;
    border-radius: 1rem;
    align-items: center;
    padding: 0.5rem 0;
    padding-right: 7px;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.4);
}
.list:not(:first-of-type) {
    margin-top: 1rem;
}
.list:hover {
    background-color: #d0ebff;
    box-shadow: 0 0 2px #1864ab49;
}

.iconContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

i.fa-pen-to-square {
    color: #0c6efd;
}

i.fa-check {
    color: #1b995e;
}
i.fa-xmark {
    color: #e13647;
}

.input2 {
    flex-grow: 1;
    padding-left: 7px;
    border: none;
    background-color: transparent;
}
.input2:focus-visible {
    outline: none;
}
.edit,
.tick,
.cross {
    cursor: pointer;
}
.project {
    display: none;
}
.done {
    display: none;
}
.doneHeader {
    margin-bottom: 1rem;
}
.doneList {
    text-align: start;
    margin-bottom: 3px;
}

footer {
    margin-top: auto;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
}
.fa-github {
    color: white;
    transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.25);
}

@media (max-width: 850px) {
    .sidebar {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .inboxBtn,
    .deletedBtn,
    .projectBtn {
        width: 10rem;
        font-size: 1.2rem;
    }

    .projectInput {
        width: 10rem;
    }
}

@media (max-width: 630px) {
    #container {
        flex-direction: column;
    }

    .fa-angles-down {
        display: block;
    }

    .sidebar {
        display: none;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: baseline;
        padding: 1rem;
        gap: 1rem;
        background-color: rgb(218, 227, 235);
    }

    .sidebarProject {
        align-self: center;
    }

    .projectHeader {
        text-align: center;
        margin-bottom: 1rem;
    }

    .inboxBtn,
    .deletedBtn,
    .projectBtn {
        width: 200px;
    }

    .doneHeader {
        padding: 0;
    }
}

@media (max-width: 485px) {
    .sidebar {
        padding: 1rem 2rem;
        grid-template-columns: 1fr;
    }

    .tab {
        padding: 0.8rem;
        padding-top: 1.5rem;
        width: 90%;
    }

    .projectHeader {
        margin-bottom: 0.5rem;
    }

    .inboxHeader,
    .tab .projectHeader {
        padding-left: 7px;
    }

    .projectHeader,
    .inboxHeader,
    .doneHeader {
        font-size: 1.8rem;
    }
}

@media (max-width: 375px) {
    .sidebar {
        justify-items: flex-start;
    }

    .inboxHeader,
    .projectHeader,
    .doneHeader {
        text-align: start;
    }
}
